{
	"urlIps": "/usr/src/watcher/src/marmelab.com/uptime/poller/ips.json",
	"urlApiIp": "http://api:8383/targets",
	"urlApiResults": "http://api:8383/results",
	"port": "8383",
	"database": {
		"host": "db",
		"user": "postgres",
		"password": "",
		"dbname": "uptime",
		"sslmode": "disable"
	}
}
