{
	"urlIps": "/usr/src/watcher/src/marmelab.com/uptime/poller/ips.json",
	"urlApiIp": "http://api:9000/ips",
	"urlApiResults": "http://api:9000/ips/results",
	"database": {
		"host": "db",
		"user": "postgres",
		"password": "",
		"dbname": "postgres",
		"sslmode": "disable"
	}
}
