$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body{
	background-color: white;
}

table{
	@extend .table;	
	@extend .table-hover;
}

a{
	color:white;
}

#content{
	@extend center-block;
}
.navbar-counters {
	.counter {
		@extend .badge;
		margin: 15px 10px 10px 0;
		&:last-child {
			margin-right: 0;
		}
		&.up {
			background: $brand-success;
		}
		&.down {
			background: $brand-danger;
		}
	}
}

.axis path {
    fill: none;
    stroke: #777;
	shape-rendering: crispEdges;
}
.axis text {
    font-size: 13px;
}

.navbar-counters {
	position: absolute;
	top: 0px;
	right: 10px;
}
