$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body{
	background-color: white;
}

table{
	@extend .table;	
	@extend .table-hover;
}

a{
	color:white;
}

#content{
	@extend center-block;
}
